.subpage-first__investors .subpage-first__title.first-title {
    margin-bottom: 15px;
    font-size: 60px;
    color: $color-main2;
}
.subpage-first__investors .first-title__home {
    max-width: 575px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.subpage-first__investors-text {
    max-width: 550px;
    font-size: $text-medium-mini;
    line-height: 145%;
    letter-spacing: .01em;
    color: $color-white;
    @include pad {
        max-width: 600px;
        margin-bottom: 40px;
    }
}
.subpage-first__txt-link {
    color: $color-bg3;
}
.subpage-first__txt-link:hover {
    color: $color-main2;
}
.subpage-first__text .btn {
    display: none;
    @include pad {
        display: block;
        margin-top: 30px;
        width: 200px;
    }
}
